div._1U8hr
    div
        h1 Разработка сервисов: веб, iOS, Android
        button._2G4Mv
          p._1t6QE связь

    picture
      source(class='lXYRR', type='image/webp' srcset='https://breadhead.ru/_next/static/images/animationTop-f36b43af122f38fa7d595829f9d10de5.gif.webp 1x https://breadhead.ru/_next/static/images/animationTop-f36b43af122f38fa7d595829f9d10de5.gif.webp 2x')
      source(class='lXYRR', type='image/jpeg' srcset='https://breadhead.ru/_next/static/images/animationTop-f36b43af122f38fa7d595829f9d10de5.gif 1x https://breadhead.ru/_next/static/images/animationTop-f36b43af122f38fa7d595829f9d10de5.gif 2x')
      img(class='lXYRR', src='https://breadhead.ru/_next/static/images/animationTop-f36b43af122f38fa7d595829f9d10de5.gif')
