._1Ws8w {
  width: 100%;
  min-height: 100vh;
  display: table;
  font-family: 'Aeroport-light', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  color: #e0d7ce;
}

._1Ws8w a {
  color: rgb(163, 142, 124);
}
._1Ws8w a:hover {
  color: rgb(255, 79, 5);
}

._1YNC- {
  display: table-row;
}

.v6oGk {
  display: table-row;
  height: 100%;
}

.dP4pl {
  display: table-row;
}

._1Nnjx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 46px 56px 0px 56px
}
@media (max-width: 1440px) {
  ._1Nnjx {
    padding: 46px 34px 0px 34px
  }
}
@media (max-width: 1024px) {
  ._1Nnjx {
    padding: 30px 16px 0px 16px
  }
}

._2fulj {
  font-weight: 200;
  font-size: 40px;
  line-height: 48px;

  width: 50%;
  margin: 96px 56px 0px 54px
}
@media (max-width: 1440px) {
  ._2fulj {
    margin: 96px 34px 0px 32px
  }
}
@media (max-width: 1024px) {
  ._2fulj {
    font-size: 28px;
    line-height: 32px;

    width: auto;
    margin: 60px 16px 0px 14px
  }
}

._2qHH0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  margin-right: 32px;
}

._1hbKl {
  margin-right: 8px;
  font: 200 24px/32px 'GraphikLight', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--text24-32);
  color: #e0d7ce;
  color: var(--beigePrimary)
}

@media (max-width: 1200px) {

  ._1hbKl {
    font: 200 18px/24px 'GraphikLight', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
    font: var(--textMobile18-24)
  }
}

._2d64p {
  font: 200 24px/32px 'GraphikLight', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--text24-32);
  color: #a38e7c;
  color: var(--beigeSecondary)
}

@media (max-width: 1200px) {

  ._2d64p {
    font: 200 18px/24px 'GraphikLight', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
    font: var(--textMobile18-24)
  }
}

._3gx8b {
  margin-right: 8px;
  fill: #a38e7c;
}

._3BJTg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in
}

._3BJTg:hover ._3gx8b {
  fill: #ff4f05;
  fill: var(--redPrimary);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

._3BJTg:hover ._2d64p {
  color: #ff4f05;
  color: var(--redPrimary);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

._3BJTg:active ._3gx8b {
  fill: #e0421b;
  fill: var(--redSecondary);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

._3BJTg:active ._2d64p {
  color: #e0421b;
  color: var(--redSecondary);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.ZmCRq {
  width: 21px;
  height: 21px;
}

._30WyJ {
  width: 21px;
  height: 21px;
}

.X_xqR {
  width: 28px;
  height: 21px;
}

._2uZNs {
  width: 14px;
  height: 24px;
}

._2zpJZ {
  width: 14px;
  height: 24px;
}

._1Lq5J {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 16px;
}

._2lO4u {
  margin-bottom: 16px;
}

._2B28J {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 44px;
  width: calc(25% - 44px)
}

@media (max-width: 1024px) {

  ._2B28J {
    width: 100%;
    margin-bottom: 24px
  }
}

.PLGDq {
  font: var(--caption20-24);
  color: var(--beigePrimary);
  margin-bottom: 24px
}

@media (max-width: 1024px) {

  .PLGDq {
    margin-bottom: 8px
  }
}

._2U4WQ {
  font: var(--title40-48);
  color: var(--beigePrimary);
  margin-bottom: 32px
}

@media (max-width: 1024px) {

  ._2U4WQ {
    font: var(--titleMobile28-32);
    margin-bottom: 0
  }
}

._3uT53 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width: 1024px) {

  ._3uT53 {
    display: none
  }
}

._1lhGC {
  margin-right: 8px;
  margin-bottom: 16px;
}

._2PWDH {
  white-space: pre-wrap;
  margin-right: 32px
}

@media (max-width: 690px) {

  ._2PWDH {
    margin-bottom: 24px
  }
}

._3FN3q {
  color: var(--beigePrimary);
  font: var(--caption20-24);
  margin-bottom: 24px
}

@media (max-width: 690px) {

  ._3FN3q {
    margin-bottom: 16px
  }
}

._3P57u {
  font: var(--text24-32);
  color: var(--beigePrimary)
}

@media (max-width: 690px) {

  ._3P57u {
    font: var(--textMobile18-24)
  }
}

._2fqlF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px
}

._2fqlF > img {
  margin-right: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

._1fCRp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0px 56px 0px 56px
}

@media (max-width: 1440px) {

  ._1fCRp {
    padding: 0px 34px 0px 34px
  }
}

@media (max-width: 1024px) {

  ._1fCRp {
    padding: 0px 16px 0px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

._3G98c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%
}

._3G98c > section {
  width: 33.33333%;
}

@media (max-width: 1024px) {

  ._3G98c {
    width: 100%
  }
  ._3G98c > section {
    width: 100%;
  }
}

@media (max-width: 690px) {

  ._3G98c {
    display: block;
    width: auto
  }
}

.RpcFz {
  color: var(--beigePrimary);
  cursor: default
}

.RpcFz:hover {
  color: var(--beigePrimary);
}

@media (max-width: 690px) {

  .RpcFz {
    color: var(--beigeSecondary);
    cursor: pointer
  }
  .RpcFz:hover {
    color: var(--redPrimary);
  }
}

._3_Qag {
  margin-top: auto;
  padding-top: 120px;
  padding-bottom: 84px
}
@media (max-width: 1024px) {
  ._3_Qag {
    padding-bottom: 40px
  }
}

._1L-_M {
  color: #a38e7c;
  color: var(--beigeSecondary);
  font: 200 20px/24px 'Aeroport-light', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--caption20-24);
  margin-right: 32px;
  cursor: pointer
}
._1L-_M:hover {
  color: #ff4f05;
  color: var(--redPrimary);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
._1L-_M:active {
  color: #e0421b;
  color: var(--redSecondary);
}



._32cxT {
  font: 200 20px/24px 'Aeroport-light', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--caption20-24);
  color: #a38e7c;
  color: var(--beigeSecondary);
  background-color: #1d1e21;
  background-color: var(--darkSecondary);
  -webkit-transition: all 0.12s ease-in;
  transition: all 0.12s ease-in;
  border-radius: 50px;
  padding: 2px 8px 6px 8px;
  width: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer
}

@media (max-width: 768px) {

  ._32cxT {
    margin-left: 24px
  }
}

@media (min-width: 1025px) {
  ._32cxT:hover {
    background-color: #ff4f05;
    background-color: var(--redPrimary);
    -webkit-transition: background-color 0.12s ease-in;
    transition: background-color 0.12s ease-in;
    color: #1d1e21;
    color: var(--darkSecondary);
  }
  ._32cxT:active {
    background-color: #e0421b;
    background-color: var(--redSecondary);
    color: #1d1e21;
    color: var(--darkSecondary);
  }
}

@media (max-width: 1024px) {
  ._32cxT:active {
    background-color: #ff4f05;
    background-color: var(--redPrimary);
    color: #1d1e21;
    color: var(--darkSecondary);
    -webkit-transition: background-color 0.05s ease-in;
    transition: background-color 0.05s ease-in;
  }
}








@-webkit-keyframes _2Fm5m {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes _2Fm5m {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

._2G4Mv {
  background-color: var(--beigeSecondary);
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  border-radius: 50px;
  padding: 4px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1025px) {
  ._2G4Mv:hover {
    background-color: var(--redPrimary);
    -webkit-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
  }
  ._2G4Mv:active {
    background-color: var(--redSecondary);
  }
}

@media (max-width: 1024px) {
  ._2G4Mv:active {
    background-color: var(--redPrimary);
    -webkit-transition: background-color 0.05s ease-in;
    transition: background-color 0.05s ease-in;
  }
}

._1t6QE {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--darkPrimary);
  font: var(--caption20-24);
  height: 40px;
  padding-top: 6px;
}

._2G4Mv svg {
  margin-right: 8px;
}

.lXYRR {
  z-index: -1;
  position: absolute;
  right: 28px;
  margin-top: 64px;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  height: 360px
}
@media (max-width: 1460px) {
  .lXYRR {
    right: 17px
  }
}
@media (max-width: 1024px) {
  .lXYRR {
    right: 8px;
    height: 300px
  }
}
@media (max-width: 768px) {
  .lXYRR {
    height: 260px
  }
}
@media (max-width: 600px) {
  .lXYRR {
    position: static;
    margin-top: 0;
    width: 100%;
    height: auto
  }
}

._3GoE- {
  white-space: pre-wrap;
  font-size: 80px;
  line-height: 80px;
  font-family: 'Aeroport-light', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font-family: var(--fontFamilyAeroport);
  font-weight: 200;
  color: #e0d7ce;
  color: var(--beigePrimary);
  margin-bottom: 48px;
  margin-right: 40px
}
@media (max-width: 1920px) {
  ._3GoE- {
    font-size: calc(40px + 40 * ((100vw - 768px) / 1152));
    line-height: calc(40px + 40 * ((100vw - 768px) / 1152))
  }
}
@media (max-width: 1460px) {
  ._3GoE- {
    font-size: calc(56px + 24 * ((100vw - 768px) / 672));
    line-height: calc(56px + 24 * ((100vw - 768px) / 672))
  }
}
@media (max-width: 600px) {
  ._3GoE- {
    font-size: calc(36px + 20 * ((100vw - 320px) / 280));
    line-height: calc(36px + 20 * ((100vw - 320px) / 280));
    margin-bottom: 28px
  }
}

._1U8hr {
  -webkit-animation-name: _3PUAT;
  animation-name: _3PUAT;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: cubic-bezier(0.59, 0.01, 0.28, 1);
  animation-timing-function: cubic-bezier(0.59, 0.01, 0.28, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* margin-top: 240px; */
  margin-top: 100px;

  margin-bottom: 64px;
  margin-left: 25%;
  padding: 0px 56px 0px 28px
}

@media (max-width: 1460px) {

  ._1U8hr {
    margin-left: 34px
  }
}

@media (max-width: 1440px) {

  ._1U8hr {
    /* margin-top: 200px; */
    margin-top: 80px;

    margin-left: 0;
    padding: 0px 34px 0px 34px
  }
}

@media (max-width: 1024px) {

  ._1U8hr {
    /* margin-top: 160px; */

    padding: 0px 16px 0px 16px
  }
}

@media (max-width: 600px) {

  ._1U8hr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-bottom: 24px
  }
}

@-webkit-keyframes _3PUAT {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes _3PUAT {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

._3YPgL {
  opacity: 0;
}

._3vPoA {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 50;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  will-change: transition;
}

.E2rkU {
  overflow: hidden;
}

._1legF ._3vPoA {
  opacity: 0;
}

._1legF ._3YPgL {
  opacity: 1;
}

._1s_Wk {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

._2t2ip {
  overflow: hidden;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.s-lPg {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._1AlZs {
  position: absolute;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  z-index: 50;
}

._3acog ._1AlZs {
  opacity: 0 !important;
}

._3acog .s-lPg {
  opacity: 1;
}

._2Of0- {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

._2e0bs {
  top: 0;
  width: 100%;
  height: 100%;
}

.wlbdQ {
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--darkSecondary);
  padding-top: 96px;
  padding-left: 104px
}

@media (max-width: 1600px) {

  .wlbdQ {
    padding-left: 56px;
    padding-top: 48px
  }
}

@media (max-width: 1024px) {

  .wlbdQ {
    padding-left: 32px
  }
}

.yhXq1 {
  width: 60%
}

@media (max-width: 1700px) {

  .yhXq1 {
    width: 70%
  }
}

@media (max-width: 1440px) {

  .yhXq1 {
    width: 80%
  }
}

@media (max-width: 1280px) {

  .yhXq1 {
    width: 90%
  }
}

@media (max-width: 1200px) {

  .yhXq1 {
    width: 70%
  }
}

@media (max-width: 768px) {

  .yhXq1 {
    width: 90%
  }
}

._17XJH {
  font: var(--title40-48);
  color: var(--beigePrimary);
  margin-bottom: 48px
}

@media (max-width: 1440px) {

  ._17XJH {
    margin-bottom: 40px
  }
}

@media (max-width: 1200px) {

  ._17XJH {
    font: var(--titleMobile22-28);
    margin-bottom: 28px
  }
}

._2LmtP {
  font: var(--text24-32);
  color: var(--beigePrimary);
  margin-bottom: 32px
}
@media (max-width: 1200px) {
  ._2LmtP {
    font: var(--textMobile18-24);
    margin-bottom: 24px
  }
}

._32yjM {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

.lKeJQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  background-color: #dcdce0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-left: -518px;
  margin-top: -306px;
  width: 1036px;
  height: 620px
}

@media (max-width: 1920px) {

  .lKeJQ {
    margin-left: -27vw;
    margin-top: -16.5vw;
    width: 54vw;
    height: 33vw;
    border-radius: calc(4px + 3 * ((100vw - 1024px) / 896))
  }
}

@media (max-width: 1024px) {

  .lKeJQ {
    margin-left: -39.5vw;
    margin-top: -24vw;
    width: 79vw;
    height: 48vw
  }
}

._2Cgmk {
  position: relative;
  z-index: 1;
  height: 24px;
  width: 100%;
  background-color: #dcdce0
}

@media (max-width: 1920px) {

  ._2Cgmk {
    height: 1.6vw
  }
}

@media (max-width: 1024px) {

  ._2Cgmk {
    height: 2vw
  }
}

._2sD4x {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
}

._1RTH_ {
  pointer-events: none;
  position: absolute;
  width: 32px;
  height: auto;
  top: 40%;
  left: 1.2%
}

@media (max-width: 1920px) {

  ._1RTH_ {
    width: calc(16px + 16 * ((100vw - 600px) / 1320))
  }
}

._2lHSD {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.HfOrU {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

._1Z5mh {
  position: absolute;
  overflow: hidden;
  background-color: #dcdce0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-left: -511px;
  margin-top: -310px;
  width: 1022px;
  height: 620px
}

@media (max-width: 1920px) {

  ._1Z5mh {
    margin-left: -27vw;
    margin-top: -16.5vw;
    width: calc(54vw - 5px);
    height: calc(33vw - 2px);
    border-radius: calc(4px + 3 * ((100vw - 1024px) / 896))
  }
}

@media (max-width: 1024px) {

  ._1Z5mh {
    margin-left: -39.5vw;
    margin-top: -24vw;
    width: 79vw;
    height: 48vw
  }
}

._1qOBv {
  position: relative;
  z-index: 1;
  height: 24px;
  width: 100%;
  background-color: #dcdce0
}

@media (max-width: 1920px) {

  ._1qOBv {
    height: 1.6vw
  }
}

@media (max-width: 1024px) {

  ._1qOBv {
    height: 2vw
  }
}

.UyCSA {
  pointer-events: none;
  position: absolute;
  width: 32px;
  height: auto;
  top: 40%;
  left: 1.2%
}

@media (max-width: 1920px) {

  .UyCSA {
    width: calc(16px + 16 * ((100vw - 600px) / 1320))
  }
}

._3myDA {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 24px;
  width: calc(100% + 2px);
  height: calc(100% - 24px)
}

@media (max-width: 1920px) {

  ._3myDA {
    border-bottom-left-radius: calc(4px + 3 * ((100vw - 1024px) / 896));
    border-bottom-right-radius: calc(4px + 3 * ((100vw - 1024px) / 896));
    top: 1.6vw;
    height: calc(100% - 1.5vw)
  }
}

@media (max-width: 1024px) {

  ._3myDA {
    top: 2vw;
    height: calc(100% - 1.9vw)
  }
}

.HfycI {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

._3Ucu1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  margin-left: -458px;
  margin-top: -280px
}

@media (max-width: 1600px) {

  ._3Ucu1 {
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
  }
}

@media (max-width: 1440px) {

  ._3Ucu1 {
    -webkit-transform: scale(0.85);
    transform: scale(0.85)
  }
}

@media (max-width: 1280px) {

  ._3Ucu1 {
    -webkit-transform: scale(0.7);
    transform: scale(0.7)
  }
}

@media (max-width: 1200px) {

  ._3Ucu1 {
    -webkit-transform: scale(0.65);
    transform: scale(0.65)
  }
}

@media (max-width: 1024px) {

  ._3Ucu1 {
    -webkit-transform: scale(0.85);
    transform: scale(0.85)
  }
}

@media (max-width: 890px) {

  ._3Ucu1 {
    -webkit-transform: scale(0.65);
    transform: scale(0.65)
  }
}

@media (max-width: 768px) {

  ._3Ucu1 {
    -webkit-transform: scale(0.55);
    transform: scale(0.55)
  }
}

._2gB3G {
  margin-right: 48px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  position: relative;
  overflow: hidden;
  width: 273px;
  height: 560px;
  border-radius: 28px;
  background-color: var(--darkSecondary);
}

._1-b0G {
  position: absolute;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  margin-top: -230px;
  height: 460px;
  width: 256px;
  border-radius: 3px;
}

._1Yvec {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

._3SoPN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 96px;
  padding-left: 104px
}

@media (max-width: 1600px) {

  ._3SoPN {
    padding-left: 56px;
    padding-top: 48px
  }
}

@media (max-width: 1024px) {

  ._3SoPN {
    padding-left: 32px
  }
}

._3sftW {
  width: 60%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

._2GMpW {
  font: var(--title40-48);
  color: var(--beigePrimary);
  margin-bottom: 48px
}

@media (max-width: 1440px) {

  ._2GMpW {
    margin-bottom: 40px
  }
}

@media (max-width: 1200px) {

  ._2GMpW {
    font: var(--titleMobile22-28);
    margin-bottom: 28px
  }
}

._1Xdhg {
  right: calc(16px + 136 * ((100vw - 320px) / 1600));
  top: 96px;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  position: absolute;
  overflow: hidden;
  width: 273px;
  height: 560px;
  border-radius: 28px;
  background-color: white
}

@media (max-width: 1800px) {

  ._1Xdhg {
    -webkit-transform: scale(0.85);
    transform: scale(0.85)
  }
}

@media (max-width: 1600px) {

  ._1Xdhg {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    top: 48px
  }
}

@media (max-width: 1300px) {

  ._1Xdhg {
    -webkit-transform: scale(0.75);
    transform: scale(0.75)
  }
}

@media (max-width: 1200px) {

  ._1Xdhg {
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
    top: 56px
  }
}

@media (max-width: 1024px) {

  ._1Xdhg {
    -webkit-transform: scale(0.7);
    transform: scale(0.7)
  }
}

@media (max-width: 768px) {

  ._1Xdhg {
    -webkit-transform: scale(0.6);
    transform: scale(0.6)
  }
}

@media (max-width: 660px) {

  ._1Xdhg {
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
  }
}

._3XS24 {
  border: 2px solid #e1e1e2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  margin-top: -230px;
  height: 460px;
  width: 256px;
  border-radius: 3px;
}

._3h8UQ {
  border: 2px solid #e1e1e2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  margin-top: -230px;
  height: 460px;
  width: 256px;
  border-radius: 3px;
}

._3yQUX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 16px;
}

._3Vj9H {
  margin-bottom: 16px;
}

._1qgMb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
  margin-right: 32px;
}

.zccNI {
  margin-right: 8px;
  font: 200 24px/32px 'GraphikLight', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--text24-32);
  color: #e0d7ce;
  color: var(--beigePrimary)
}

@media (max-width: 1200px) {

  .zccNI {
    font: 200 18px/24px 'GraphikLight', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
    font: var(--textMobile18-24)
  }
}

._3_nGt {
  font: 200 24px/32px 'GraphikLight', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--text24-32);
  color: #a38e7c;
  color: var(--beigeSecondary)
}

@media (max-width: 1200px) {

  ._3_nGt {
    font: 200 18px/24px 'GraphikLight', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
    font: var(--textMobile18-24)
  }
}

._1_D8r {
  cursor: -webkit-grab;
  cursor: grab;
  font: 200 24px/32px 'GraphikLight', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--text24-32);
  color: #474544
}

._1_D8r:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@media (max-width: 1200px) {

  ._1_D8r {
    font: 200 18px/24px 'GraphikLight', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
    font: var(--textMobile18-24)
  }
}

._21VbI {
  background-color: transparent;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in
}

._21VbI:hover g {
  fill: #ff4f05;
  fill: var(--redPrimary);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

._21VbI:hover rect {
  fill: #ff4f05;
  fill: var(--redPrimary);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

._21VbI:hover ._3_nGt {
  color: #ff4f05;
  color: var(--redPrimary);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

._21VbI:active g {
  fill: #e0421b;
  fill: var(--redSecondary);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

._21VbI:active rect {
  fill: #e0421b;
  fill: var(--redSecondary);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

._21VbI:active ._3_nGt {
  color: #e0421b;
  color: var(--redSecondary);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.TA1wP {
  margin-right: 8px;
}

._3zSe4 {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--darkSecondary);
  padding-top: 96px;
  padding-left: 104px
}

@media (max-width: 1600px) {

  ._3zSe4 {
    padding-left: 56px;
    padding-top: 48px
  }
}

@media (max-width: 1024px) {

  ._3zSe4 {
    padding-left: 32px
  }
}

._2RIQh {
  width: 60%
}

@media (max-width: 1700px) {

  ._2RIQh {
    width: 70%
  }
}

@media (max-width: 1440px) {

  ._2RIQh {
    width: 80%
  }
}

@media (max-width: 1280px) {

  ._2RIQh {
    width: 90%
  }
}

@media (max-width: 1200px) {

  ._2RIQh {
    width: 70%
  }
}

@media (max-width: 768px) {

  ._2RIQh {
    width: 90%
  }
}

._1o7Qb {
  font: var(--title40-48);
  color: var(--beigePrimary);
  margin-bottom: 48px
}

@media (max-width: 1440px) {

  ._1o7Qb {
    margin-bottom: 40px
  }
}

@media (max-width: 1200px) {

  ._1o7Qb {
    font: var(--titleMobile22-28);
    margin-bottom: 28px
  }
}

._1TmWA {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

._3C6tl {
  margin-bottom: 24px;
}

._1CKtt {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

._2CTde {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.z033x {
  left: 0;
  width: 100%;
  height: 100%;
}

.JjWDC {
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--darkSecondary);
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px
}

@media (max-width: 320px) {

  .JjWDC {
    padding-top: 32px
  }
}

._2dOYH {
  font: var(--titleMobile22-28);
  color: var(--beigePrimary);
  margin-bottom: 28px
}

@media (max-width: 320px) {

  ._2dOYH {
    margin-bottom: 16px
  }
}

.y9TWn {
  font: var(--textMobile18-24);
  color: var(--beigePrimary);
  margin-bottom: 24px;
}

._3lonP {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

._2Fakh {
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  top: 50%;
  left: 50%;
  margin-left: -122px;
  margin-top: -250px;
  width: 244px;
  height: 500px;
  border-radius: 26px;
  background-color: var(--darkSecondary)
}

@media (max-width: 414px) {

  ._2Fakh {
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
  }
}

@media (max-width: 375px) {

  ._2Fakh {
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
  }
}

@media (max-width: 350px) {

  ._2Fakh {
    -webkit-transform: scale(0.7);
    transform: scale(0.7)
  }
}

._33S7g {
  overflow: hidden;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -115px;
  margin-top: -206px;
  height: 412px;
  width: 230px;
  border-radius: 3px;
}

.XSVax {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

._3lWmN {
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 8px 12px 0 rgba(0, 0, 0, 0.03);
  top: 50%;
  left: 50%;
  margin-left: -122px;
  margin-top: -250px;
  width: 244px;
  height: 500px;
  border-radius: 26px;
  background-color: var(--darkSecondary)
}

@media (max-width: 414px) {

  ._3lWmN {
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
  }
}

@media (max-width: 375px) {

  ._3lWmN {
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
  }
}

@media (max-width: 350px) {

  ._3lWmN {
    -webkit-transform: scale(0.7);
    transform: scale(0.7)
  }
}

@media (max-width: 600px) {
  .e5jxy {
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -206px;
    height: 412px;
    width: 230px;
    border-radius: 3px;
  }
}

._150AA {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--darkSecondary);
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px
}

@media (max-width: 320px) {

  ._150AA {
    padding-top: 32px
  }
}

._1LwEY {
  font: var(--titleMobile22-28);
  color: var(--beigePrimary);
  margin-bottom: 28px
}

@media (max-width: 320px) {

  ._1LwEY {
    margin-bottom: 16px
  }
}

._1ZDJA {
  font: var(--textMobile18-24);
  color: var(--beigePrimary);
  margin-bottom: 24px;
}

._3drSQ {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

._25_2W {
  margin-bottom: 16px;
}



._2XCvR > div {
  width: 100%;
}



._1yQ7U {
  height: 2px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(102, 103, 120, 1);
  margin-right: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  position: relative;
  overflow: hidden
}

@media (max-width: 600px) {

  ._1yQ7U {
    margin-right: 4px
  }
}



._3svwe {
  background-color: rgba(191, 191, 191, 1);
}





._1x4pQ {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

._2eIt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 80px;
  will-change: transform, opacity;

  padding: 0px 56px 0px 56px
}

@media (max-width: 1440px) {

  ._2eIt3 {
    padding: 0px 34px 0px 34px
  }
}

@media (max-width: 1024px) {

  ._2eIt3 {
    padding: 0px 16px 0px 16px
  }
}

@media (max-width: 1024px) {

  ._2eIt3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px
  }
}

._1oPSF {
  visibility: visible;
  opacity: 1;

  -webkit-transform: translateY(0px);

  transform: translateY(0px);
  -webkit-transition: all 1.3s cubic-bezier(0.59, 0.01, 0.28, 1);
  transition: all 1.3s cubic-bezier(0.59, 0.01, 0.28, 1);
}

._1i_yX {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 1.3s cubic-bezier(0.59, 0.01, 0.28, 1);
  transition: all 1.3s cubic-bezier(0.59, 0.01, 0.28, 1);
}

._2tPzW {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  height: 40vw
}

@media (max-width: 1024px) {

  ._2tPzW {
    height: 60vw
  }
}

._3Fnel {
  width: 75%
}

@media (max-width: 1024px) {

  ._3Fnel {
    width: 100%
  }
}

._2tnt7 {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  width: 75%
}

@media (max-width: 1300px) {

  ._2tnt7 {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width: 1024px) {

  ._2tnt7 {
    grid-template-columns: repeat(3, 1fr);
    width: 100%
  }
}

@media (max-width: 690px) {

  ._2tnt7 {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width: 530px) {

  ._2tnt7 {
    grid-template-columns: repeat(1, 1fr)
  }
}

._3Tskc {
  font: 200 40px/48px 'Aeroport-light', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--title40-48);
  color: #e0d7ce;
  color: var(--beigePrimary)
}

@media (max-width: 1024px) {

  ._3Tskc {
    font: 200 28px/32px 'Aeroport-light', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
    font: var(--titleMobile28-32)
  }
}

._2tE8h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 104px;
  padding: 56px 56px 0px 56px
}

@media (max-width: 1440px) {

  ._2tE8h {
    padding: 56px 34px 0px 34px
  }
}

@media (max-width: 1024px) {

  ._2tE8h {
    padding: 24px 16px 0px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px
  }
}

._2okgK {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.wv_Gu {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

._3neHD {
  font: 200 40px/48px 'Aeroport-light', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  font: var(--title40-48);
  color: #e0d7ce;
  color: var(--beigePrimary);
  margin-bottom: 80px
}
@media (max-width: 1024px) {
  ._3neHD {
    font: 200 28px/32px 'Aeroport-light', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
    font: var(--titleMobile28-32);
    margin-bottom: 40px
  }
}

._2CFZP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 104px;

  padding: 56px 56px 0px 56px
}

@media (max-width: 1440px) {

  ._2CFZP {
    padding: 56px 34px 0px 34px
  }
}

@media (max-width: 1024px) {

  ._2CFZP {
    padding: 56px 16px 0px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px
  }
}

.DPuEd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75%
}

@media (max-width: 1024px) {

  .DPuEd {
    width: 100%
  }
}

._1WJbW {
  width: 100%;
  margin-bottom: 80px
}

@media (max-width: 1024px) {

  ._1WJbW {
    margin-bottom: 40px
  }
}

@media (max-width: 600px) {

  ._1JTOb {
    display: none
  }
}

@media (min-width: 601px) {

  ._2jCMR {
    display: none
  }
}

._2XJpe {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  width: 100%
}

@media (max-width: 1700px) {

  ._2XJpe {
    width: 100%
  }
}

@media (max-width: 1024px) {

  ._2XJpe {
    width: 100%
  }
}

@media (max-width: 690px) {

  ._2XJpe {
    grid-template-columns: repeat(1, 1fr)
  }
}

._1P-7b {
  text-decoration: none;
  color: var(--beigeSecondary);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease
}

._1P-7b:hover {
  color: var(--redPrimary);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

._1P-7b:active {
  color: var(--redSecondary);
}

@media (max-width: 600px) {

  ._29-kn {
    display: none
  }
}

@media (min-width: 601px) {

  .QJtx7 {
    display: none
  }
}

._2cfBR {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

._1RKor {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

._1Rfnw {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  height: 40vw
}

@media (max-width: 1024px) {

  ._1Rfnw {
    height: 60vw
  }
}

._1qcw7 {
  position: relative;
  overflow: hidden;
  height: 500px
}

@media (max-width: 1024px) {

  ._1qcw7 {
    height: 420px
  }
}

@media (max-width: 768px) {

  ._1qcw7 {
    height: 360px
  }
}

@media (max-width: 530px) {

  ._1qcw7 {
    height: 80vw
  }
}

.CZklx {
  position: absolute;
  z-index: -1;
  width: auto;
  height: 480px;
  right: 0;
  bottom: -2px
}

@media (max-width: 1024px) {

  .CZklx {
    height: 400px
  }
}

@media (max-width: 768px) {

  .CZklx {
    height: 360px
  }
}

@media (max-width: 530px) {

  .CZklx {
    height: auto;
    width: 100%
  }
}

._2D8Ut {
  display: block;
  position: absolute;
  font: var(--text24-32);
  color: var(--beigePrimary);
  left: calc(25% + 28px);
  bottom: 24px
}

@media (max-width: 1440px) {

  ._2D8Ut {
    left: calc(25% + 17px)
  }
}

@media (max-width: 1024px) {

  ._2D8Ut {
    left: calc(25% + 8px);
    bottom: 16px
  }
}

@media (max-width: 1024px) {

  ._2D8Ut {
    left: 16px
  }
}

@media (max-width: 690px) {

  ._2D8Ut {
    font: var(--textMobile18-24)
  }
}

@media (max-width: 600px) {

  ._2D8Ut {
    display: none
  }
}

._29MeC {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

._13CgT {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.yujJN {
  padding-top: 144px
}

@media (max-width: 1024px) {

  .yujJN {
    padding-top: 80px
  }
}

@media (max-width: 600px) {

  .yujJN {
    padding-top: 56px
  }
}

@media (max-width: 600px) {

  ._2oDbc {
    display: none
  }
}

@media (min-width: 601px) {

  ._1mMZn {
    display: none
  }
}

._2Djy3 {
  margin-bottom: 104px;
  margin-left: calc(25% + 28px)
}

@media (max-width: 1440px) {

  ._2Djy3 {
    margin-left: calc(25% + 17px)
  }
}

@media (max-width: 1024px) {

  ._2Djy3 {
    margin-bottom: 56px;
    margin-left: 16px
  }
}

._37ChI {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  height: 40vw
}

@media (max-width: 1024px) {

  ._37ChI {
    height: 60vw
  }
}

._3eUen {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity 0.6s ease-in-out,
  background-color 0.15s ease-in, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out,
  background-color 0.15s ease-in, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out,
  background-color 0.15s ease-in;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out,
  background-color 0.15s ease-in, -webkit-transform 0.6s ease-in-out;
}

._3wCXS {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.aX6Hf {
  padding-top: 56px;
  margin-bottom: 160px
}

@media (max-width: 1024px) {

  .aX6Hf {
    margin-bottom: 80px
  }
}

@media (max-width: 600px) {

  .X5uv3 {
    display: none
  }
}

@media (min-width: 601px) {

  ._3zSyn {
    /* display: none */
  }
}


